body{
    margin: 0;
}
.mainImageContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pokemonDisplayContainer{
    position: relative;
}
.pokemonImage{
    width: 100%;
    height: auto;
}